/* Tags */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("/static/img/BG.png");
    background-size: 100% auto;
    background-position: 0 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50;
}

main {
    width: 60%;
    margin: 0 auto;
    padding-top: 3.5rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #427a8e !important;
}

a *:hover {
    color: #427a8e !important;
}

fromphp {
    font-style: italic;
}

input {
    margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px;
    border-radius: 3px;
    padding: 6px 8px;
}

textarea {
    resize: none;
}

fieldset {
    padding: 5px;
}

section:not(.auth) {
    background-color: white;
    color: black;
    box-sizing: content-box;
}


/* Classes */

.flex-container-row {
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
}

.flex-container-column {
    display: flex;
    flex-flow: column nowrap;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-item {
    margin: auto;
}

.flex-item-row-first {
    text-align: left;
    margin-left: 2%;
}

.flex-item-row-last {
    text-align: right;
    margin-right: 2%;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.flex-ai-center {
    align-items: center;
}

.flex-ai-end {
    align-items: flex-end;
}

.flex-ai-start {
    align-items: flex-start;
}

.Tright {
    text-align: right;
}

.Tcenter {
    text-align: center;
}

.Tleft {
    text-align: left;
}

.Atop {
    vertical-align: top;
}

.Amiddle {
    vertical-align: middle;
}

.Abottom {
    vertical-align: bottom;
}

.font64 {
    font-size: 64pt;
}

.pg-btn {
    padding: 30px 10%;
}

.currentPage {
    color: #2419B2;
    font-weight: bold;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.border-box {
    box-sizing: border-box;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50%;
}

.width-min {
    width: min-content;
}

.button {
    background-color: #C4C4C4;
    margin: 5px;
    padding: 5px;
}


/* colors */

.red {
    color: red;
}

.bg-red {
    background-color: red;
}

.green {
    color: green;
}

.bg-green {
    background-color: green;
}

.brown {
    color: brown;
}

.background-brown {
    background-color: brown;
}

.gray {
    color: gray;
}

.bg-gray {
    background-color: gray;
}

.yellow {
    color: yellow;
}

.bg-yellow {
    background-color: yellow;
}


/* IDs */

#wrapper {
    height: 100%;
}

#copyright {
    position: fixed;
    margin: 0;
    right: 0;
    bottom: 0;
}


/* Other */

.auth fieldset {
    background-color: #F5FFFA10;
    border: 0px;
    border-radius: 5px;
    padding: 50px;
}

.auth input {
    background-color: transparent;
    border: 1px solid #FF9900;
    color: white;
    border-radius: 5px;
    width: 20vw;
    min-height: 5vh;
    font-size: larger;
    margin: 2vh 0;
}

.auth input::placeholder {
    color: white;
}

.auth input[type="submit"] {
    padding: 3vh 0;
}

.auth input[type="submit"]:hover {
    background-color: #F5FFFA30;
}

.chat {
    border: 1px solid #FF9900;
    background-color: white;
    color: black;
}

.chat>* {
    border: 1px solid #FF9900;
}

.chat .header {
    padding: 2vh;
}

.chat .main {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat .message {
    width: 25vw;
    border: 1px solid #FF9900;
    border-radius: 10px;
    padding: 10px;
    margin: 2vh;
}

.chat .mymessage {
    margin-left: 30vw;
}

.chat .author {
    color: #2419B2;
}

.chat fieldset {
    padding: 0;
    border: 0;
    position: relative;
}

.chat input[type="text"] {
    margin: 0;
    padding: 10px 10px;
    border: 1px solid #FF9900;
    outline: none;
    background-color: white;
    width: 85%;
}

.chat input[type="submit"] {
    margin: 0;
    padding: 10px 10px;
    outline: none;
    border: 1px solid #FF9900;
    background-color: white;
    position: absolute;
    right: 0;
    width: 13%;
}

.tasks .links>* {
    background-color: black;
    margin: 20px;
    padding: 15px 50px;
    border-radius: 50%;
    color: white;
}

.tasks .links .selected {
    background-color: #2419B2;
}

.tasks .task {
    border: 1px solid #FF9900;
    border-radius: 5px;
    margin: 5px;
}

.task .top {
    margin: 20px 15px;
}

.task .desc {
    margin: 0 15px;
    padding: 0 2%;
    width: 80%;
}


/* 
.grid {
    display: grid;
    gap: 1rem;
    grid: "main" "side" 1fr / 2fr 1fr;
    place-items: stretch;
    place-content: stretch;
} */